html,
body {
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
}
html,
body,
#app {
    height: 100%;
}

input {
    border: none;
    outline: none;
}
button {
    border: none;
    outline: none;
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style-type: none;
}